openapi: '3.0.2'
info:
  title: devRant API
  description: |
    This is the unofficial documentation for the official devRant API.

    To keep dfox happy, the endpoint for authentication is not included here. Some endpoints listed will require an token_token and token_key. You are on your own to figure out how to get these. 
    (HINT: I have written two libraries that can do this)

  version: '1.0'
servers:
  - url: https://devrant.com/api/
paths:
  /devrant/rants:
    get:
    
      description: Get a sorted list of rants
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: query
          name: sort
          schema:
            type: string
            default: algo
            enum: ["algo", "top", "recent"]
          required: false
          description: Which stream to fetch rants from
        - in: query
          name: range
          schema:
            type: string
            default: all
            enum: ["day", "week", "month", "all"]
          required: false
          description: In what range of time should rants be from
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
          required: false
          description: How many rants should be returned
        - in: query
          name: skip
          schema:
            type: integer
            default: 0
          required: false
          description: How many rants to skip. "pages" can be inplemented by skipping groups of 50
      responses:
          '200':
            description: OK
          '400':
            description: Invalid app id specified
    post:
      description: This endpoint requires a user_id, token_token, and token_key. Refer to the top of the page for information about these
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                app:
                  type: integer
                  description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
                  
                plat:
                  type: integer
                  description: Platform identifier. This MUST be "2"
                
                user_id:
                  type: integer
                  description: user_id of the authenticated user
                
                token_id:
                  type: integer
                  description: Authentication token id
                
                token_key:
                  type: string
                  description: Authenticaiton token key
                
                rant:
                  type: string
                  description: The main content of the rant

                tags:
                  type: string
                  description: A comma-seperated list of tags

      responses:
          '200':
            description: OK
          '400':
            description: Invalid app id specified
  /devrant/rants/{rantId}/comments:
    post:
      description: This endpoint requires a user_id, token_token, and token_key. Refer to the top of the page for information about these
      
      parameters:
        - in: path
          name: rantId
          schema:
            type: integer
          required: true
          description: ID of the rant to comment on
      
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                app:
                  type: integer
                  description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
                  
                plat:
                  type: integer
                  description: Platform identifier. This MUST be "2"
                
                user_id:
                  type: integer
                  description: user_id of the authenticated user
                
                token_id:
                  type: integer
                  description: Authentication token id
                
                token_key:
                  type: string
                  description: Authenticaiton token key
                
                comment:
                  type: string
                  description: The main content of the comment

      responses:
          '200':
            description: OK
          '400':
            description: Invalid app id specified

  /devrant/collabs:
    get:
      description: Get a sorted list of collabs
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: query
          name: sort
          schema:
            type: string
            default: algo
            enum: ["algo", "top", "recent"]
          required: false
          description: Which stream to fetch collabs from
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
          required: false
          description: How many rants should be returned
        - in: query
          name: skip
          schema:
            type: integer
            default: 0
          required: false
          description: How many rants to skip. "pages" can be inplemented by skipping groups of 50

      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /devrant/rants/{rantId}:
    get:
      description: Get a rant or collab by ID
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: path
          name: rantId
          schema:
            type: integer
          required: true
          description: ID of a single rant. This can also be a collab. They share the same endpoint.
      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id or rant id specified
  /devrant/rants/surprise:
    get:
      description: Get a random rant
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        
      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /devrant/search:
    get:
      description: Search all of devRant with a keyword
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: query
          name: term
          schema:
            type: string
          required: true
          description: Search keyword
      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /devrant/search/tags:
    get:
      description: Get a list of frequently used search terms
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.

      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /devrant/story-rants:
    get:
      description: Get a sorted list of long rants
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: query
          name: sort
          schema:
            type: string
            default: algo
            enum: ["algo", "top", "recent"]
          required: false
          description: Which stream to fetch rants from
        - in: query
          name: range
          schema:
            type: string
            default: all
            enum: ["day", "week", "month", "all"]
          required: false
          description: In what range of time should rants be from
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
          required: false
          description: How many rants should be returned
        - in: query
          name: skip
          schema:
            type: integer
            default: 0
          required: false
          description: How many rants to skip. "pages" can be inplemented by skipping groups of 50

      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /devrant/supporters:
    get:
      description: Get a sorted list of all devRant++ Members
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.

      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /devrant/weekly-list:
    get:
      description: Get a list of weekly topics
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.

      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /devrant/weekly-rants:
    get:
      description: Get a sorted list of rants from the weekly topic
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: query
          name: week
          schema:
            type: integer
          required: true
          description: The week to load
        - in: query
          name: sort
          schema:
            type: string
            default: algo
            enum: ["algo", "top", "recent"]
          required: false
          description: Which stream to fetch rants from
        
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
          required: false
          description: How many rants should be returned
        - in: query
          name: skip
          schema:
            type: integer
            default: 0
          required: false
          description: How many rants to skip. "pages" can be inplemented by skipping groups of 50

      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /get-user-id:
    get:
      description: Get the user ID for a username (the backend uses IDs, not usernames)
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: query
          name: username
          schema:
            type: string
          required: true
          description: User to get ID of
      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  /users/{userId}:
    get:
      description: Get a user's profile from their ID
      parameters:
        - in: query
          name: app
          schema:
            type: integer
            default: 3
          required: true
          description: App identifier. This currently MUST be "3". There is a feature request active right now to allow custom app codes.
        - in: path
          name: userId
          schema:
            type: integer
          required: true
          description: User's ID
        - in: query
          name: content
          schema:
            type: string
            enum: ["all", "rants", "upvoted", "comments", "favorites", "collabs"]
            default: all
          required: false
          description: What type of content to load
      responses:
        '200':
          description: OK
        '400':
          description: Invalid app id specified
  